{% extends "base.html" %}

{% block navbar %}{% include "navbar.html" %}{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="card">
        <div class="card-header">
            {{data.post.title}}
        </div>
        <div class="card-body">
            <p class="card-text">{{data.post.text}}</p>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        {% for comment in data.comments %}
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ comment.title }}</h5>
                    <p class="card-text">{{ comment.text }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}